*{
 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;

}
body{
    background-color:rgba(255, 192, 203, 0.701);
}

ul,a{
    list-style:none;
    display:flex;
    gap:20px;
    justify-content: end;
    margin-right:5%;
}
a{
    text-decoration: none;
    color:white;
}
.center{
    text-align: center;
    margin-top:10%;
}
button a {
    height:2.5rem;
    color:black;
    background-color:whitesmoke;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border:none;
    background-color: whitesmoke;
    width: 8.5rem;
    border-radius:8px;
}
.googlebutton{
    text-align: center;
    margin-top:40%;
}